# Application Settings
NODE_ENV=development
PORT=3000
LOG_LEVEL=log
CORS_ORIGIN=*

# Database Settings
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=saas_db

# Security Settings
JWT_SECRET=super_secret_jwt_key_that_is_long_enough
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=super_secret_refresh_jwt_key_that_is_long_enough
JWT_REFRESH_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=12
